body {
    background-color: pink;
}
h1 {
    color:rgb(223, 14, 14);
    text-align: center;
}
h2 {
    color:rgb(223, 14, 14);
    text-align: center;
}
textarea {
        height: 100px;
    }

/*le # c'est pour les id*/
#todob {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    color:rgb(223, 14, 14);
}
#quest {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-right: 1000px;
    color:rgb(223, 14, 14);
    text-align: center;
}

/* le . pour les class*/
.txtbl {
    color:rgb(223, 14, 14);
}
.centext {
    color:rgb(223, 14, 14);
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 2px;
}
.claptai {
    height: 100px;
}